/* General Reset: This removes default margin, padding, and sets box-sizing to avoid layout inconsistencies */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../constructed-worlds/ACaslonPro-Regular.otf") format("opentype");
}

body {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px; 
    color: rgb(6, 27, 221); 
    text-transform: lowercase;
    background-color: rgb(253, 252, 246); 
}

header {
    text-align: center;
    font-weight: normal;
    padding-top: 50px; /* The first value is for the top and bottom, and the second is for the left and right. px (pixels) is a unit that is independent of the element size. */
}

h1, h4{
    font-weight: normal;
}

h4 {
    padding-top: 30px;
    padding-bottom: 0;
}

#video {
    position: fixed;
    width: 600px; 
    height: auto; 
    padding-top: 0;
    left: 50%;
    transform: translateX(-50%); 
}

#marqueeContainer {
    position: fixed;
    top: 507.5px;
    left: 50%;
    width: 100vw;
    overflow: hidden; /* Hides the text outside of the container */
    transform: translateX(-50%);
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
}

#aPromise {
    display: inline-block; /* Allows the paragraph to scroll smoothly */
    padding: 30px;
    font-style: italic;
    font-size: 15px;
    animation: scrollText 120s linear infinite;
}

@keyframes scrollText {
    from {
        transform: translateX(0); /* Start at normal position */
    }
    to {
        transform: translateX(-100%); /* Move left by 100% width of content */
    }
}

#info {
    position: fixed;
    padding: 0;
    top: 587.5px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%); 
    white-space: nowrap;
}

.underline {
    text-decoration: underline;
}


