/* General Reset: This removes default margin, padding, and sets box-sizing to avoid layout inconsistencies */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../constructed-worlds/ACaslonPro-Regular.otf") format("opentype");
}

body {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px; 
    color: rgb(4, 0, 255); 
    text-transform: lowercase;
    background-color: rgb(255, 252, 243); 
}

header {
    text-align: center;
    font-weight: normal;
    padding-top: 50px; /* The first value is for the top and bottom, and the second is for the left and right. px (pixels) is a unit that is independent of the element size. */
}

h1, h4{
    font-weight: normal;
}

h4 {
    padding-top: 30px;
    padding-bottom: 0;
}

#video {
    position: fixed;
    width: 600px; 
    height: auto; 
    padding-top: 0;
    left: 50%;
    transform: translateX(-50%); 
    /* outline: 1px solid rgb(4, 0, 255); */
}

#marqueeContainer {
    position: fixed;
    top: 507.5px;
    left: 50%;
    width: 100vw;
    overflow: hidden; /* Hides the text outside of the container */
    transform: translateX(-50%);
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
}

#aPromise {
    display: inline-block; /* Allows the paragraph to scroll smoothly */
    padding: 30px;
    font-style: italic;
    font-size: 15px;
    animation: scrollText 120s linear infinite;
}

@keyframes scrollText {
    from {
        transform: translateX(0); /* Start at normal position */
    }
    to {
        transform: translateX(-100%); /* Move left by 100% width of content */
    }
}

#info {
    position: fixed;
    padding: 0;
    top: 587.5px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%); 
    white-space: nowrap;
}

#infoMobile {
    display: none;
}

.underline {
    text-decoration: underline;
}

/* Responsive Design for Mobile Screens */
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
    
    header {
        top: 20px;
    }

    h1 {
        font-size: 24px;
    }

    h4 {
        font-size: 12px;
    }

    #video {
        width: 70%;
    }

    #marqueeContainer {
        padding: 0;
        top: 420px;
        font-size: 12px;
    }

    #aPromise {
        font-size: 12px;
        animation: scrollText 200s linear infinite; /* Slow down on smaller screens */
        padding: 0;
    }

    #info {
        display: none;
    }

    #infoMobile {
        display: block;
        position: absolute;
        top: calc(420px + 100px); /* Adjust 50px to add margin below #marqueeContainer */
        font-size: 14px;
        left: 50%;
        text-align: left;
        transform: translateX(-50%); 
        white-space: nowrap;
    }
}



